*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded,cursive;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #ffc400ad,red);
    background-image: url(https://i.pinimg.com/originals/8c/43/64/8c43645fe8d0ac164a6925448be32858.jpg);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 110vh;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid pink;
    outline: none;
    background-color: rgb(233, 136, 45);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(68, 64, 64, 0.9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color:rgb(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, 0.904);
    font-size: 3rex;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }